{% extends "base.html" %}

{% block title %}
    控制语句
{% endblock %}

{% block body %}
    <div class="content">
                        <h1>
          =============================================================================
    </h1>
    <h1>
        BT5110 Project: StarApp
    </h1>

    <h1>
        Operation Analysis Of Turkish Retail Store
    </h1>
            <h1>
          =============================================================================
    </h1>
        <h1>
        Project SmallApp 38
    </h1>
        <h1>
        Authors:
    </h1>
        <h1>
        Gaoda Hu (A0262803J)
    </h1>
        <h1>
        Wang Zihao (A0262730L)
    </h1>
                            <h1>
          --------------------------------------------------------------------------------------------------------------------------------------
    </h1>
        <h1>
        Supervised By:

    </h1>
                <h1>
        BRESSAN STEPHANE

    </h1>
                <h1>
        CAO SHENG

    </h1>
                <h1>
       DAO NGOC HIEU

    </h1>
                <h1>
        SRI BHUVANESWARI SAMANTHULA

    </h1>
        <h1>
          --------------------------------------------------------------------------------------------------------------------------------------
    </h1>
    <h1>
        Department: NUS Business School
    </h1>

{% endblock %}